/* Product  */
.p-container h1 {
  color: rgba(129, 15, 7, 0.363);
  font-weight: 600;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.r-card {
  gap: 0.6rem;
  padding: 1rem;
  border-radius: 20px;
  max-width: max-content;
  margin: auto;
  transition: all 300ms ease-in;
  box-shadow: 0px 72px 60px 51px rgba(190, 190, 199, 0.479);

}

.r-card > img {
  width: 100%;
  max-width: 100%;
}


.r-card:hover {
  scale: 1.025;
  cursor: pointer;
  background: linear-gradient(
    180deg,
    rgba(228, 205, 205, 0) 0%,
    rgba(66, 71, 63, 0.46) 217.91%
  );
  box-shadow: 0px 72px 49px -51px rgba(78, 78, 80, 0.479);
}
.swiper-horizontal {
  overflow: visible;
}

.r-buttons {
  /* position: absolute; */
  gap: 1rem;
  top: -4rem;
  right: 0;
}

.r-buttons button {
  font-size: 1.2rem;
  padding: 0.2rem 0.8rem;
  color: blue;
  border: none;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}
.r-buttons > :nth-child(1) {
  background-color: #eeeeff;
}
.r-buttons > :nth-child(2) {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}

/* message  */

.message {
  text-align: center;
  margin-top: 50px; /* Adjust as needed */
}

.highlight {
  position: relative;
  display: inline-block;
}

.highlight::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 110%;
  height: 150%;
  border: 2px solid gray;
  background-color: #f3dac1; /* Change as per your preference */
  box-shadow: 0 0 5px 7px gray;
  z-index: -1;
  transition: width 0.5s ease;
  cursor: pointer;
}

.highlight:hover::before {
  background-color: #fcdbb9;
  box-shadow: 0 0 50px 7px white;
  transition: 1s ease-in-out; /* Change as per your preference */
}

/* About  */
.StoreImg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 2rem 2rem 2rem 2rem;
  border: 8px solid rgba(255, 255, 255, 0.12);
  transition: 0.3s ease-in-out;
  transform: translateY(0px);
  box-shadow: 0 0 70px 7px rgba(82, 55, 55, 0.658);
}

.StoreImg > img {
  width: 100%;
  height: 100%;
}

.StoreImg:hover {
  box-shadow: 0 0 70px 7px black;
  transition: 2s ease-in-out;
  transform: translateY(20px);
}

.About-horizontal-line {
  margin: 13px;
  width: 100%; /* Full width */
  height: 2px; /* Height of the line */
  background-color: #d9baad; /* Color of the line */
}

/* News  */
.contact-wrapper {
  background: #1e1e1e;
  align-items: center;
  align-content: center;
  display: flex;
  text-align: center;
  justify-content: center;
}

.Contact-btn {
  background: #272727;
  color: white;
}
.news-box {
  justify-content: space-between;
  background-color: #272727;
}

.horizontal-line {
  margin: 13px;
  width: 50px; /* Full width */
  height: 2px; /* Height of the line */
  background-color: #d9baad; /* Color of the line */
}


.contact-Read {
  text-align: start;
  margin-top: 50px;
  cursor: pointer;
}

.contact-color {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.contact-color:hover {
  transform: translateX(50%); /* Translate text horizontally */
  transition: transform 1s ease-in-out; /* Transition for transform */
}

/* Empty  */

.Empty-wrapper {
  background: linear-gradient(135deg, 
  rgba(215, 214, 224, 0.8) 0%,
  rgba(62, 177, 16, 0.8) 20%,
  rgba(55, 45, 141, 0.8) 40%,
  rgba(233, 8, 233, 0.308) 60%,
  rgba(196, 184, 25, 0.8) 80%,
   rgba(251, 39, 110, 0.8) 100%);
  backdrop-filter: blur(10px);
  background-size: cover;
  background-position: center;
  
}

.ball {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #8f8181;
  box-shadow: 1px 1px 50px 20px rgb(2, 2, 2);
  animation: moveBall 50s infinite;
}

@keyframes colorChange {
  0% {
    background: linear-gradient(135deg, 
      rgba(215, 214, 224, 0.8) 0%,
      rgba(62, 177, 16, 0.8) 20%,
      rgba(55, 45, 141, 0.8) 40%,
      rgba(233, 8, 233, 0.308) 60%,
      rgba(196, 184, 25, 0.8) 80%,
      rgba(251, 39, 110, 0.8) 100%);
  }
  25% {
    background: linear-gradient(135deg, 
      rgba(196, 184, 25, 0.8) 0%,
      rgba(215, 214, 224, 0.8) 20%,
      rgba(251, 39, 110, 0.8) 40%,
      rgba(62, 177, 16, 0.8) 60%,
      rgba(55, 45, 141, 0.8) 80%,
      rgba(233, 8, 233, 0.308) 100%);
  }
  50% {
    background: linear-gradient(135deg, 
      rgba(55, 45, 141, 0.8) 0%,
      rgba(251, 39, 110, 0.8) 20%,
      rgba(196, 184, 25, 0.8) 40%,
      rgba(215, 214, 224, 0.8) 60%,
      rgba(62, 177, 16, 0.8) 80%,
      rgba(233, 8, 233, 0.308) 100%);
  }
  75% {
    background: linear-gradient(135deg, 
      rgba(233, 8, 233, 0.308) 0%,
      rgba(55, 45, 141, 0.8) 20%,
      rgba(215, 214, 224, 0.8) 40%,
      rgba(251, 39, 110, 0.8) 60%,
      rgba(196, 184, 25, 0.8) 80%,
      rgba(62, 177, 16, 0.8) 100%);
  }
  100% {
    background: linear-gradient(135deg, 
      rgba(62, 177, 16, 0.8) 0%,
      rgba(233, 8, 233, 0.308) 20%,
      rgba(251, 39, 110, 0.8) 40%,
      rgba(196, 184, 25, 0.8) 60%,
      rgba(215, 214, 224, 0.8) 80%,
      rgba(55, 45, 141, 0.8) 100%);
  }
}

@keyframes moveBall {
  0% {
    top: 10px;
    left: 10px;
  }
  25% {
    top: calc(100% - 60px);
    left: calc(100% - 60px);
  }
  50% {
    top: 10px;
    left: calc(100% - 60px);
  }
  75% {
    top: 10px;
    left: 10px;
  }
  100% {
    top: calc(100% - 60px);
    left: 10px;
  }
}

/* Footer  */

.footer-line {
  width: 100%; /* Full width */
  height: 2px; /* Height of the line */
  background-color: #696666;
}

.f-top {
  width: 3px; /* Full width */
  height: 60px; /* Height of the line */
  background-color: #696666;
}
.back-to-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.f-top {
  width: 3px; /* Full width */
  height: 60px; /* Height of the line */
  background-color: #fff;
  animation: moveUp 2s ease-in-out infinite alternate;
  box-shadow: 0 0 7px 1px white;
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.f-container {
  list-style: none;
  align-items: center;
  text-align: center;
  gap: 10rem;
  display: flex;
}


.brand-footer {
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-content: space-between;
  align-items: center;
}

.brand-footer>img{
  width: 250px;
  height: 100px;
  
}





